/nologo
/char signed
/Oicf
/D _USRDLL
/D _MERGE_PROXYSTUB
/tlb msmail1clib.tlb
/out "${CMAKE_CURRENT_BINARY_DIR}"
/h msmail1clib.h
/iid msmail1clib_i.c
/proxy msmail1clib_p.c
/cpp_cmd "${CMAKE_CXX_COMPILER_WINPATH}"
/cpp_opt "/E /nologo ${CMAKE_CXX_FLAGS} ${CMAKE_CXX_FLAGS_${CMAKE_BUILD_TYPE_UPPER}}"
